<h1><%= @cook.cook_name%></h1>

<p>Name: <%= @cook.cook_name%> </p> <br>
<p>Location: <%= @cook.location%> </p><br>
<p>Image: <%= @cook.cook_image%> </p><br>
<p>Location: <%= @cook.location%> </p>><br>
<p>Cuisine: <%= @cook.cuisine%> </p><br>
<p>Description: <%= @cook.description%> </p> <br>

<%= link_to "Back to Cooks' List", cooks_path %>



