<h1>Meal Plan</h1>

<p>Date: <%= @meal.date%> </p> <br>
<p>Time: <%= @meal.time%> </p><br>
<p>Location: <%= @meal.location%> </p><br>
<p>Price: <%= @meal.price%> </p>><br>
<p>Info: <%= @meal.info%> </p><br>

<!-- <h1><%#= @cook.cook_name%></h1>
 -->
<!-- <p>Name: <%#= @cook.cook_name%> </p> <br>
<p>Location: <%#= @cook.location%> </p><br>
<p>Image: <%#= @cook.cook_image%> </p><br>
<p>Location: <%#= @cook.location%> </p>><br>
<p>Cuisine: <%#= @cook.cuisine%> </p><br>
<p>Description: <%#= @cook.description%> </p> <br>

 -->
<%= link_to "Back to My Profile Page", user_path(current_user) %>